h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
.container {
  max-width: 374.98px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: var(--black, #121212);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 100px;
    padding-left: 100px;
  }
}

.advertisement {
  max-width: 375px;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media screen and (min-width: 768px) {
  .advertisement {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .advertisement {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1440px) {
  .advertisement {
    max-width: 1440px;
    padding-right: 101px;
    padding-left: 100px;
  }
}

.marquee {
  overflow: hidden;
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.marquee__inner {
  display: flex;
}

.marquee__line {
  color: #bea69e;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  flex-shrink: 0;
  margin: 0;
  padding: 20px 10px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transition: transform linear;
}
.ticker-white {
  color: #fff;
}
@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
@media screen and (min-width: 768px) {
  .marquee__line {
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: -0.8px;
    padding: 24px 10px;
  }
}
@media screen and (min-width: 1280px) {
  .marquee__line {
    font-size: 59px;
    line-height: 1.08;
    letter-spacing: -1.18px;
  }
}
.section-courses {
  max-width: 375px;

  padding: 20px;
  background-color: #121212;
  background-image: url(../img/Graphic.png);
}

@media screen and (min-width: 768px) {
  .section-courses {
    max-width: 768px;
    padding: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .section-courses {
    max-width: 1280px;
    padding: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .section-courses {
    max-width: 1440px;
  }
}
.course-advertising {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .course-advertising {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}
.course-title {
  color: #fff;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -1.92px;
  margin-bottom: 20px;
}
.beige-color {
  color: #bea69e;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -1.92px;
}
.course-text {
  max-width: 335px;
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.28px;
}

@media screen and (min-width: 768px) {
  .course-text {
    max-width: 381px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.32px;
  }
}
@media screen and (min-width: 1280px) {
  .course-text {
    max-width: 405px;
  }
}
@media screen and (min-width: 768px) {
  .list-of-courses {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .list-of-courses {
    flex-wrap: nowrap;
  }
}
.direction-courses {
  max-width: 335px;
  min-height: 398px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  padding: 28px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .direction-courses {
    max-width: 342px;
    min-height: 452px;
    padding: 32px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .direction-courses {
    max-width: 347px;
  }
}
@media screen and (min-width: 1280px) {
  .direction-courses {
    max-width: 400px;
  }
}
.courses-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .courses-link {
    margin-bottom: 32px;
  }
}
.num-class {
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.28px;
}
.courses-vector {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  background-color: #1d1d1d;
  border-radius: 50%;
}
.title-direction {
  max-width: 279px;
  color: #fff;

  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  margin-bottom: 164px;
}
@media screen and (min-width: 768px) {
  .title-direction {
    max-width: 265px;
    margin-bottom: 180px;
  }
}
.description-direction {
  color: rgba(255, 255, 255, 0.5);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 768px) {
  .description-direction {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.32px;
  }
}

.section-seven {
  display: flex;
  background-color: #121212;
  background-image: url(../img/Graphic.png);
}
@media screen and (min-width: 1440px) {
  .section-seven {
    max-width: 1440px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner-tabl {
    max-width: 480px;
  }
}
.title-section-seven {
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .title-section-seven {
    font-size: 48px;
    line-height: 1.12;
    letter-spacing: -1.92px;
  }
}
.another-color {
  color: #bea69e;
}
.registration-request {
  color: #fff;

  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.28px;
  margin-bottom: 41px;
}
@media screen and (min-width: 768px) {
  .registration-request {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.32px;
    margin-bottom: 40px;
  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .fields {
    gap: 14px;
  }
}
input::placeholder {
  color: #fff;

  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}
@media screen and (min-width: 768px) {
  input::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
}
.submission-fields {
  background-color: transparent;
  width: 100%;
  height: 46px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 18px;
}
@media screen and (min-width: 768px) {
  .submission-fields {
    height: 60px;
  }
}
.sending-message {
  background-color: transparent;
  resize: none;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  flex-shrink: 0;
  padding-top: 14px;
  padding-left: 18px;
}
@media screen and (min-width: 768px) {
  .sending-message {
    padding-top: 20px;
  }
}
textarea::placeholder {
  color: #fff;

  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}
@media screen and (min-width: 768px) {
  textarea::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
}
.submission-message {
}
.btn-sending {
  display: flex;
  width: 100%;
  padding: 14px 127px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #fff;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .btn-sending {
    padding: 16px 216px;
  }
}
.text-Privacy-Policy {
  color: rgba(255, 255, 255, 0.5);
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
}
@media screen and (min-width: 768px) {
  .text-Privacy-Policy {
    font-size: 14px;
    line-height: 1.28;
  }
}
.sending-Privacy-Policy {
  color: inherit;
  text-decoration-line: underline;
}
.photo-accessories {
  display: none;
}
@media screen and (min-width: 1280px) {
  .photo-accessories {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
  }
}
.camera {
  position: relative;
  width: 180px;
  height: 288px;
  flex-shrink: 0;
  border-radius: 1000px;
  background: #bea69e;
  margin: 30px;
}
.foto-camera {
  position: absolute;
  transform: translateX(-26px);
  top: 69px;
}
.foto-cam {
  width: 350px;
  height: 540px;
  flex-shrink: 0;
  border-radius: 1000px;
  background: #1d1d1d;
  padding-top: 156px;
  padding-right: 50px;
  padding-bottom: 88px;
  padding-left: 50px;
}

.cry-from-the-heart {
  max-width: 375px;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: blue;
}
@media screen and (min-width: 768px) {
  .cry-from-the-heart {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .cry-from-the-heart {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1440px) {
  .cry-from-the-heart {
    max-width: 1440px;
    padding-right: 101px;
    padding-left: 100px;
  }
}
.cry-from-the-heart .pirojoc {
  overflow: hidden;
}
.pirojoc-inner {
  display: flex;
}
.cry-from-the-heart .pirojoc-line {
  color: gold;
  font-family: DM Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  flex-shrink: 0;
  margin: 0;
  padding: 20px 10px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transition: transform 150ms cubic-bezier(0.39, 1.03, 0.82, 0.08);
}
