h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.section-ticker {
  max-width: 375px;
  background-color: black;
}
@media screen and (min-width: 768px) {
  .section-ticker {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .section-ticker {
    max-width: 1280px;
  }
}
marquee {
  overflow: hidden;
  width: 100%;

  text-transform: uppercase;
}
.marquee__inner {
  display: flex;
}

.marquee__line {
  color: #bea69e;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  flex-shrink: 0;
  margin: 0;
  padding: 20px 10px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ticker-white {
  color: #fff;
}
@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
@media screen and (min-width: 768px) {
  .marquee__line {
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: -0.8px;
    padding: 24px 10px;
  }
}
@media screen and (min-width: 1280px) {
  .marquee__line {
    font-size: 59px;
    line-height: 1.08;
    letter-spacing: -1.18px;
  }
}
.section-courses {
  max-width: 375px;
  background-color: black;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .section-courses {
    max-width: 768px;
    padding: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .section-courses {
    max-width: 1280px;
    padding: 100px;
  }
}

.course-advertising {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .course-advertising {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}
.course-title {
  color: #fff;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -1.92px;
  margin-bottom: 20px;
}
.beige-color {
  color: #bea69e;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -1.92px;
}
.course-text {
  max-width: 335px;
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.28px;
}

@media screen and (min-width: 768px) {
  .course-text {
    max-width: 381px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.32px;
  }
}
@media screen and (min-width: 1280px) {
  .course-text {
    max-width: 405px;
  }
}
.courses-conteiner {
}
.list-of-courses {
}
@media screen and (min-width: 768px) {
  .list-of-courses {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .list-of-courses {
    flex-wrap: nowrap;
  }
}
.direction-courses {
  max-width: 335px;
  min-height: 398px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  padding: 28px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .direction-courses {
    max-width: 342px;
    min-height: 452px;
    padding: 32px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .direction-courses {
    max-width: 347px;
  }
}
.courses-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .courses-link {
    margin-bottom: 32px;
  }
}
.num-class {
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.28px;
}
.courses-vector {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  background-color: #1d1d1d;
  border-radius: 50%;
}
.vector {
}

.title-direction {
  max-width: 279px;
  color: #fff;

  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  margin-bottom: 164px;
}
@media screen and (min-width: 768px) {
  .title-direction {
    max-width: 265px;
    margin-bottom: 180px;
  }
}
.description-direction {
  color: rgba(255, 255, 255, 0.5);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 768px) {
  .description-direction {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.32px;
  }
}
